{% set costs = [] %}
{% if Food and Food > 0 %}
  {% for i in range(Food) %}
    {% set _ = costs.append("food") %}
  {% endfor %}
{% endif %}
{% if Mana and Mana > 0 %}
  {% for i in range(Mana) %}
    {% set _ = costs.append("mana") %}
  {% endfor %}
{% endif %}
{% if Cards and Cards > 0 %}
  {% for i in range(Cards) %}
    {% set _ = costs.append("cards") %}
  {% endfor %}
{% endif %}

{% if costs %}
<div class="costs-box">
  <div class="costs-strip">
    {% for c in costs %}
      <img src="assets/{{ c }}.png" alt="{{ c }}" class="inline-symbol icon-glow">
    {% endfor %}
  </div>
</div>
{% endif %}
